<div>
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a [routerLink]="['/jitPilot/board', workspaceId, 'boards']" class="text-primary hover:underline">Boards</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-2 rtl:before:ml-2">
            <span>{{boardName}}</span>
        </li>
    </ul>
    <div class="pt-3">
        <button type="button" class="btn bg-lime-800 hover:bg-lime-700 text-white ltr:ml-4 rtl:mr-4 flex" (click)="addEditProject()">
            <icon-plus class="h-5 w-5 ltr:mr-3 rtl:ml-3" />
            Add Section
        </button>
    </div>

    <!-- project list -->
    <div class="relative pt-5">
        <div class="-mx-2 h-full">
            <div class="flex flex-nowrap items-start gap-5 overflow-x-auto px-2 pb-2">
                <ng-container *ngFor="let section of sectionList" key="section.id">
                    <div class="panel w-80 flex-none">
                        <div class="mb-5 flex justify-between">
                            <h4 class="text-base font-semibold">{{ section.sectionTitle }}</h4>

                            <div class="flex items-center">
                                <button type="button" class="hover:text-primary ltr:mr-2 rtl:ml-2" (click)="addEditTicket(null,section.sectionId)">
                                    <icon-plus-circle />
                                </button>
                                <div hlMenu class="dropdown">
                                    <button type="button" hlMenuButton class="hover:text-primary">
                                        <icon-horizontal-dots class="opacity-70 hover:opacity-100" />
                                    </button>
                                    <ul *hlMenuItems @toggleAnimation class="ltr:right-0 rtl:left-0">
                                        <li>
                                            <a href="javascript:;" *hlMenuItem="let menuItem" (click)="addEditProject(section)">Edit</a>
                                        </li>
                                        <li><a href="javascript:;" *hlMenuItem="let menuItem" (click)="deleteSectionConfirm(section)">Delete</a></li>
                                        <li><a href="javascript:;" *hlMenuItem="let menuItem" (click)="clearConfirmModal(section)">Clear All</a></li>                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- ticket list -->
                        <div
                            [sortablejs]="section.tickets"
                            [sortablejsOptions]="{ animation: 200, group: 'default', ghostClass: 'sortable-ghost', dragClass:'sortable-drag' }"
                            class="connect-sorting-content min-h-[150px]"
                        >
                            <div class="sortable-list" *ngFor="let ticket of section.tickets" key="section.sectionId + '' + ticket.ticketId">
                                <div class="mb-5 cursor-move space-y-3 rounded-md bg-[#f4f4f4] p-3 pb-5 shadow dark:bg-white-dark/20"
                                >
                                    <!-- if ticket have image -->
                                    <!-- <ng-container *ngIf="ticket.title">
                                        <img src="/assets/images/carousel1.jpeg" alt="images" class="h-32 w-full rounded-md object-cover" />
                                    </ng-container> -->
                                    <div class="text-base font-medium">{{ ticket.title }}</div>
                                    <p class="break-all">{{ ticket.description }}</p>
                                    <div class="flex flex-wrap items-center gap-2"
                                    (click)="ViewTicketModal(ticket)"
                                    >
                                        <ng-container *ngIf="ticket.priority !== 'LOW'; else elseBlock">
                                                <div class="btn btn-outline-primary flex px-2 py-1">
                                                    <icon-tag class="shrink-0" />

                                                    <span class="ltr:ml-2 rtl:mr-2">{{ ticket.priority }}</span>
                                                </div>
                                           
                                        </ng-container> 
                                        <ng-template #elseBlock>
                                            <div class="btn flex px-2 py-1 text-white-dark shadow-none dark:border-white-dark/50">
                                                <icon-tag class="shrink-0" />
                                                <span class="ltr:ml-2 rtl:mr-2">{{ ticket.priority }}</span>
                                            </div>
                                        </ng-template>
                                        
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <div class="flex items-center font-medium hover:text-primary">
                                            <icon-calendar class="shrink-0 ltr:mr-3 rtl:ml-3" />
                                            <span>{{ ticket.endDate | date:'yyyy-MM-dd' }}</span>
                                        </div>
                                        <div class="flex items-center">
                                            <button type="button" class="hover:text-info" (click)="addEditTicket(ticket,section.sectionId)">
                                                <icon-edit class="ltr:mr-3 rtl:ml-3" />
                                            </button>
                                            <button type="button" class="hover:text-danger" (click)="deleteConfirmModal(ticket)">
                                                <icon-trash-lines />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-3">
                            <button type="button" class="btn outline outline-1 outline-lime-800 text-lime-600 hover:bg-lime-700 hover:text-white focus:ring-4 focus:ring-lime-300 focus:outline-none ltr:ml-4 rtl:mr-4 mx-auto" (click)="addEditTicket(null , section.sectionId)">
                                <icon-plus />
                                Add Ticket
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- add project modal -->
    <modal #isAddProjectModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">{{ params.sectionId ? 'Edit Section' : 'Add Section' }}</div>
        </ng-template>
        <ng-template #modalBody>
            <form (ngSubmit)="saveSection()" class="text-sm">
                <div class="grid gap-5">
                    <div>
                        <label for="title">Name</label>
                        <input id="title" [(ngModel)]="params.sectionTitle" name="title" type="text" class="form-input mt-1" placeholder="Enter Name" />
                    </div>
                </div>

                <div class="mt-8 flex items-center justify-end">
                    <button type="button" class="btn btn-outline-danger" (click)="isAddProjectModal.close()">Cancel</button>
                    <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">{{ params.sectionId ? 'Update' : 'Add' }}</button>
                </div>
            </form>
        </ng-template>
    </modal>

    <!-- add task modal -->
    <modal #isAddTaskModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">{{ paramsTicket.ticketId ? 'Edit Ticket' : 'Add Ticket' }}</div>
        </ng-template>
        <ng-template #modalBody>
            <form (ngSubmit)="saveTicket()" class="text-sm">
                <div class="grid gap-5">
                    <div>
                        <label for="taskTitle">Name</label>
                        <input id="taskTitle" [(ngModel)]="paramsTicket.title" name="title" type="text" class="form-input" placeholder="Enter Name" />
                    </div>

                    <!-- <div>
                        <label for="taskTag">Tag</label>
                        <input id="taskTag" [(ngModel)]="paramsticket.tags" name="tags" type="text" class="form-input" placeholder="Enter Tag" />
                    </div> -->
                    <div>
                        <label for="taskdesc">Description</label>
                        <textarea
                            id="taskdesc"
                            [(ngModel)]="paramsTicket.description"
                            name="description"
                            class="form-textarea min-h-[130px]"
                            placeholder="Enter Description"
                        ></textarea>
                    </div>
                </div>

                <div class="mt-8 flex items-center justify-end">
                    <button type="button" class="btn btn-outline-danger" (click)="isAddTaskModal.close()">Cancel</button>
                    <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">{{ paramsTicket.ticketId ? 'Update' : 'Add' }}</button>
                </div>
            </form>
        </ng-template>
    </modal>

    <!-- delete task modal -->
    <modal #isDeleteModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">Delete Ticket</div>
        </ng-template>
        <ng-template #modalBody>
            <div class="text-center">
                <div class="mx-auto w-fit rounded-full bg-danger p-4 text-white ring-4 ring-danger/30">
                    <icon-trash-lines />
                </div>
                <div class="mx-auto mt-5 text-base sm:w-3/4">Are you sure you want to delete Ticket?</div>

                <div class="mt-8 flex items-center justify-center">
                    <button type="button" class="btn btn-outline-danger" (click)="isDeleteModal.close()">Cancel</button>
                    <button type="button" class="btn btn-primary ltr:ml-4 rtl:mr-4" (click)="deleteTicket()">Delete</button>
                </div>
            </div>
        </ng-template>
    </modal>

    <!-- delete section modal -->
    <modal #isDeleteSectionModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">Delete Section</div>
        </ng-template>
        <ng-template #modalBody>
            <div class="text-center">
                <div class="mx-auto w-fit rounded-full bg-danger p-4 text-white ring-4 ring-danger/30">
                    <icon-trash-lines />
                </div>
                <div class="mx-auto mt-5 text-base sm:w-3/4">Are you sure you want to delete Section?</div>

                <div class="mt-8 flex items-center justify-center">
                    <button type="button" class="btn btn-outline-danger" (click)="isDeleteSectionModal.close()">Cancel</button>
                    <button type="button" class="btn btn-primary ltr:ml-4 rtl:mr-4" (click)="deleteSection()">Delete</button>
                </div>
            </div>
        </ng-template>
    </modal>

    <!-- delete all task modal -->
    <modal #isClearAlllModal class="no-footer">
        <ng-template #modalHeader>
            <div class="!font-medium">clear all Ticket</div>
        </ng-template>
        <ng-template #modalBody>
            <div class="text-center">
                <div class="mx-auto w-fit rounded-full bg-danger p-4 text-white ring-4 ring-danger/30">
                    <icon-trash-lines />
                </div>
                <div class="mx-auto mt-5 text-base sm:w-3/4">Are you sure you want to clear all?</div>

                <div class="mt-8 flex items-center justify-center">
                    <button type="button" class="btn btn-outline-danger" (click)="isClearAlllModal.close()">Cancel</button>
                    <button type="button" class="btn btn-primary ltr:ml-4 rtl:mr-4" (click)="clearAllTicket()">clear</button>
                </div>
            </div>
        </ng-template>
    </modal>
        <!-- View Ticket details modal -->
        <modal #isViewTicketModal class="no-footer modal-top extra-large-modal">
            <ng-template #modalHeader>
                <div class="!font-medium">{{ paramsTicket.title}}</div>
            </ng-template>
            <ng-template #modalBody>
                <form (ngSubmit)="saveTicket()" class="text-sm">
                    <div class="grid gap-5">
                        
                        <div >
                            <label for="title">Title</label>
                            <input id="taskTitle" [(ngModel)]="paramsTicket.title" name="title" type="text" class="form-input" placeholder="Enter Name" />
                        </div>
                        <div>
                            <label for="taskdesc">Description</label>
                            <textarea
                                id="taskdesc"
                                [(ngModel)]="paramsTicket.description"
                                name="description"
                                class="form-textarea min-h-[130px]"
                                placeholder="Enter Description"
                            ></textarea>
                        </div>
                        <div >
                            <label for="tasks">Tasks</label>
                            <table class="table-hover">
                                <tbody>
                                    <ng-container *ngFor="let task of tasks">
                                        <tr class="group cursor-pointer" [ngClass]="{ 'bg-white-light/30 dark:bg-[#1a2941]': task.done }">
                                            <td class="w-1">
                                                <input
                                                    type="checkbox"
                                                    [id]="'chk-' +task.taskId"
                                                    class="form-checkbox"
                                                    [checked]="task.done"
                                                    (click)="$event.stopPropagation();taskComplete(task)"
                                                    [disabled]="selectedTab === 'trash'"
                                                />
                                            </td>
                                            <td>
                                                <div >
                                                    <div
                                                        class="whitespace-nowrap text-base font-semibold group-hover:text-primary"
                                                        [ngClass]="{ 'line-through': task.done }"
                                                    >
                                                        {{ task.title }}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>

                    </div>
    
                    <div class="mt-8 flex items-center justify-end">
                        <button type="button" class="btn btn-outline-danger" (click)="isViewTicketModal.close()">Close</button>
                        <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">Save</button>
                    </div>
                </form>
            </ng-template>
        </modal>
</div>

